body{
    background-color : #cccccc;
}

.login_form {
    text-align: center;
    margin-top: 2%;
    padding: 2%;
}

.text-center{
    text-align: center;
}

h1{
    font-family: monospace;
    color: #ff9900;
}

#bottom_label_trabajamos, #bottom_label_1, #bottom_label_2, #bottom_label_3{
    font-size: 150%;
    font-family: monospace;
    color: #ff9900;
}

.bottom{
    text-align: center;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
}

.div_trab{
    text-align: center;
    padding-top: 5%;
}

.div_name, .div_pass{
    padding-bottom: 1%;
}