.image1{
    height:100vh;
    background:
        url(../../resources/images/image1.jpg) center/cover;

}

/*
.image2{
    height:500px;
    width:1200px;
    background:
        url(../../resources/images/image2.jpg) center/cover;
    background-repeat: no-repeat;

}*/

.ui-layout-unit-content {
    overflow:hidden !important;
}